/* 남성 그룹과 여성 그룹을 포함한 div */
.people-group {
  width: 800px;
  min-height: 500px;
  margin: 100px auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}
/* 여성 그룹 */
.woman-group {
  display: flow-root;
  padding-left: 10px;
  width: 360px;
  margin: 150px auto 0;
}

/* 남성 그룹 */
.man-group {
  clear: both;
  display: flow-root;
  padding-left: 10px;
  width: 360px;
  margin: 0 auto;
}

/* 아바타 이미지와 상태창 결합한 그룹 */
.avatars-wrapper {
  width: 68px;
  position: relative;
  float: left;
  margin: 10px 10px;
}

/* 아바타 이미지 */
.avatars-image {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}

/* 회색 상태 창 */
.status-grey-box {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px solid white;
  background-color: #dbdbdb;
  position: absolute;
  top: 45px;
  left: 45px;
}

/* 초록색 상태 창 */
.status-green-box {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px solid white;
  background-color: #4cfe88;
  position: absolute;
  top: 45px;
  left: 45px;
}

/* flex를 사용한 레이아웃 구성 */
@supports (display: flex) {
  .people-group {
    display: flex;
    flex-flow: column nowrap;
  }

  .groups:nth-child(1) {
    order: 2;
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
  }

  .groups:nth-child(2) {
    order: 1;
    display: flex;
    margin-top: 150px;
    flex-flow: row nowrap;
  }

  .avatars-wrapper {
    float: none;
  }
}
